
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .item1{
background-color: azure;
border: none;
border-radius: 10px;
text-align: center;
padding: 10px;
box-shadow: 5px;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
margin: 10px;
}
 

.container .item2{
    background-color: red;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
    margin: 10px;
    }
    .container .item3{
        background-color: orange;
        border: none;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        box-shadow: 5px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
        margin: 10px;
        }
         .item4{
            background-color: teal;
            border: none;
            border-radius: 10px;
            text-align: center;
            padding: 10px;
            box-shadow: 5px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
            margin: 20px;
            height: 70px;
            
        
            }
            .row{
                text-align: center;
            }